body {
    background-color: rgb(12, 11, 11);
    
}

.container-all {
    width: 550px;
    height: 704px;
    margin: auto;
    background-color: white;
}

.header {
    height: 55px;
    background-color: rgba(245, 90, 90, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.globe {
    height: 24px;
    margin-right: 7px;
}

.heading {
    font-size: 14.5px;
    font-family: "Inter";
    color: white;
}